:root {
  --heading-font-family: "Raleway", sans-serif;

  --default-font-family: "Cabin", sans-serif;
}

body {
  background: #6759aa;
  font-family: var(--default-font-family);
}

a {
  color: #9670f4;
}

.App {
  margin: 0 auto;
  max-width: 960px;
}
.App-header {
  margin: 30px 0;
  text-align: center;
  font-size: xx-large;
  font-family: var(--heading-font-family);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
